div{
    height: 100px;
    width: 100px;
    background-color: red;
    border-width: 50px;
    border-width: 2px;
    border-style: solid;
}


h1{
    width: 120px;
    height: 50px;
    background-color: yellow;
    border-width: 3px;
    border-style:dotted;
    text-align: center;
}
